   <section id="apply" class="content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">Apply</h2>
                <p></p>

                <p class="text-center"> Prospective attendees are asked to submit an application form. This form, along with the recommendation form to be submitted by an academic reference, is linked below.  <br>

                  Registration for the summer school is $80. The deadline to apply is June 5th. Applicants will be notified of their admissions status by June 20th. <br> </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2" margin-bottom=50>
				<h5 class="text-center"><a href="https://goo.gl/forms/UQyaeiv07ORoNAd73">Applicant form</a></h5>
        <h5 class="text-center"><a href="https://goo.gl/forms/4UftoPVbdr5qq4l83">Recommender form</a></h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2">

                <p class="text-center"> Dorms: There will be dorms reserved for the visiting students. Details are TBA.</p>  <br>
            </div>

            <div class="col-lg-8 col-lg-offset-2">

                <p class="text-center">  Hotels: We recommend Watertown Hotel (4242 Roosevelt Way NE),
University Inn (4140 Roosevelt Way NE), Silver Cloud Inn-University
(5036 25th Ave NE), Marriott Courtyard Seattle Lake Union (925
Westlake Avenue N). </p>  <br>
            </div>

        </div>
        <div class="text-center">
          <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
    </section>