   <section id="faq" class="content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">Frequently Asked Questions</h2>
                <p></p>

                <p class="text-center"> Where can I find information on accomodation?  <br>
                    </p>
                    <p>
                  There is a wide range of hotels and other housing options available near the University of Washington. Registered attendees are referred to this <a href="https://fyp.washington.edu/getting-started-at-the-university-of-washington/transportation-options/hotel-accommodations/">page</a>, which contains a list of popular housing options for UW visitors.
                  <br> </p>
            </div>
         </div>   
        <div class="text-center">
          <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
    </section>