    <!-- Investigators Section -->
    <section id="investigators" class="content-section">
      <div class="container investigators-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Investigators</h2>
            <table class="table table-large">
              <tbody>
<tr>
<td class="thumb"><img src="img/instructors/rokem.jpg"></td>
<td><a href="http://arokem.org/">Zaid Harchaoui</a> (Director)<br />University of Washington</td>
<td class="thumb"><img src="img/instructors/yarkoni.jpg"></td>
<td><a href="http://talyarkoni.org">Maryam Fazel</a> (Faculy)<br />Department of Psychology<br />University of Texas at Austin</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/barch.jpg"></td>
<td><a href="https://psychweb.wustl.edu/people/deanna-barch">Sham Kakade</a> (Faculy)<br />Department of Psychological and Brain Sciences<br />Washington University in St. Louis</td>
<td class="thumb"><img src="img/instructors/brunton.jpg"></td>
<td><a href="https://bingbrunton.com">Siddhartha Srinivasa</a> (Faculy)<br />Department of Biology<br />University of Washington</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/ghosh.jpg"></td>
<td><a href="http://satra.cogitatum.org/">Sanjiban Choudhury</a> (Post-doc)<br />McGovern Institute for Brain Research<br />MIT</td>
<td class="thumb"><img src="img/instructors/gorgolewski.jpg"></td>
<td><a href="http://reproducibility.stanford.edu/team/chris-gorgolewski/">Romain Camilleri</a>(Student)<br />Department of Psychology<br />Stanford University</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/keshavan.jpg"></td>
<td><a href="http://ilabs.washington.edu/postdoctoral-fellows/bio/i-labs-anisha-keshavan">Lang Liu</a> (Student)<br />eScience Institute<br />University of Washington</td>
<td class="thumb"><img src="img/instructors/koyejo.jpg"></td>
<td><a href="http://sanmi.cs.illinois.edu/">Krishna Pillutla</a>(Student)<br />Department of Computer Science<br />University of Illinois at Urbana-Champaign</td>
</tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#faq" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>
