<!-- Research Section -->
    <section id="location" class="container location-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Location</h2>
                <h5>Zillow Commons (4th Floor)</h5>
				<h5><a href="https://www.google.com/maps/place/Bill+%26+Melinda+Gates+Center+For+Computer+Science+%26+Engineering/@47.6532511,-122.3072529,17z/data=!4m5!3m4!1s0x0:0xb46391ddfa96dcf2!8m2!3d47.6530562!4d-122.3051072">Bill and Melinda Gates Center</a>, University of Washington </h5>
                <h5><a href="https://www.washington.edu/maps/#!/cse2" >[campus map]</a></h5>
            </div>
        </div>
        <div class="text-center">
          <a href="#speakers" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
    </section>