    <!-- Investigators Section - Online/Active Learning — Kevin Jamieson
- Reinforcement Learning — Sham Kakade
- Statistical Learning Theory — Rob Nowak
- Stochastic Optimization — Zaid Harchaoui, Dmitriy Drusvyatskiy
- Convex Geometry and Sampling — Yin-Tat Lee
- Fairness in ML: Moritz Hardt
- Submodular OPT — Steganie Jegelka -->
    <section id="organizers" class="content-section">
      <div class="container investigators-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Program Organizers</h2>
            <table class="table table-large">
              <tbody>
<tr>
<td class="thumb"><img src="img/instructors/dima.jpg"></td>
<td><a href="https://sites.math.washington.edu/~ddrusv/">Dmitriy Drusviyatskiy</a><br />Program Director</td>
<td class="thumb"><img src="img/instructors/zaid.jpg"></td>
<td><a href="http://faculty.washington.edu/zaid/">Zaid Harchaoui</a> <br />Program Director</td>
<!--<td class="thumb"><img src="img/instructors/alec.jpg"></td>
<td><a href="https://www.stat.washington.edu/~alecgt/">Alec Greaves-Tunnell</a><br />PhD Student</td>-->
</tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#schedule" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>
