    <!-- Research Section -->
    <section id="research" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Research</h2>
				<h5>AI guardians project</h5>
				<p class="a">Lang</p>
				<h5>Safe imitation learning project</h5>
				<p class="a">Romain</p>
				<h5>Uncertainty of deep nets project</h5>
				<p class="a">Krishna</p>
            </div>
        </div>
        <div class="text-center">
          <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
    </section>
