    <!-- Research Section -->
    <section id="research" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Questions? Contact us at <a href="zaid.uw.edu">zaid.uw.edu</a></p>
                </p>
            </div>
        </div>
        <div class="text-center">
          <a href="#research" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
    </section>
