    <!-- Section -->

    <section id="schedule" class="container content-section text-center">
      <div class="table">
        <h2>Schedule</h2>
        <p></p>
      <div class="row">
          <div class="col-md-12">
              <table class="table table-large">
                <tr>
   <th></th>
   <th class="text-center">Tues 8/13</th>
   <th class="text-center">Wed 8/14</th>
   <th class="text-center">Thurs 8/15</th>
   <th class="text-center">Fri 8/16</th>
   <th class="text-center">Sat 8/17</th>
 </tr>
              <tbody>
                <tr>
                  <td>9:00-10:30</td><td> Lecture: Jamieson </td><td> Lecture: Nowak </td><td> Lecture: Paquette </td>
<td> Lecture: Willett and <a href="https://www.linkedin.com/in/dgilton">D. Gilton</a> </td><td> Lecture: Oh </td>                </tr>
                <tr>
                  <td>10:30-11:00</td><td> Break </td><td> Break </td><td> Break </td><td> Break </td><td> Break </td>
                </tr>
                <tr>
                  <td>11:00-12:00</td><td> Lecture: Jamieson </td><td> Lecture: Nowak </td><td> Lecture: Paquette </td>
<td> Lecture: Willett and <a href="https://www.linkedin.com/in/dgilton">D. Gilton</a> </td><td> Lecture: Oh </td>                </tr>
                <tr>
                  <td>12:00-1:30</td><td> Lunch </td><td> Lunch </td><td> Lunch </td><td> Lunch </td><td> Lunch </td>
                </tr>
                <tr>
                <td>1:30-3:00</td><td> Lecture: Lee </td><td> Lecture: Agarwal </td><td> Lecture: Hardt </td>
<td> Lecture: Diakonikolas </td><td></td>                </tr>
                  <tr>
                  <td>3:00-3:30</td></td><td> Break </td><td> Break </td><td> Break </td><td> Break </td><td></td>
                </tr>
                <tr>
                <td>3:30-4:30</td><td> Lecture: Lee </td><td> Lecture: Agarwal </td><td> Lecture: Hardt </td>
<td> Lecture: Diakonikolas </td><td></td>                </tr>
                <tr>
                  <td>4:30-5:00</td><td></td><td></td><td> Break </td><td></td><td></td>
                </tr>
                <tr>
                  <td>5:00-6:30</td><td></td><td></td><td> Poster Session</td><td></td><td></td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#apply" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
</div>
    </section>
