    <!-- Investigators Section - Online/Active Learning — Kevin Jamieson
- Reinforcement Learning — Sham Kakade
- Statistical Learning Theory — Rob Nowak
- Stochastic Optimization — Zaid Harchaoui, Dmitriy Drusvyatskiy
- Convex Geometry and Sampling — Yin-Tat Lee
- Fairness in ML: Moritz Hardt
- Submodular OPT — Steganie Jegelka -->
    <section id="speakers" class="content-section">
      <div class="container investigators-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Invited Speakers</h2>
            <table class="table table-large">
              <tbody>
<tr>
<td class="thumb"><img src="img/instructors/moritz.jpg"></td>
<td><a href="https://mrtz.org/">Moritz Hardt</a> <br />University of California, Berkeley<br /><i> Fairness in Machine Learning</i></td>
<td class="thumb"><img src="img/instructors/rebecca.jpg"></td>
<td><a href="https://voices.uchicago.edu/willett/">Rebecca Willett</a><br />University of Chicago<br /><i> Topic TBA</i></td>

</tr>
<tr>
<td class="thumb"><img src="img/instructors/sham.jpg"></td>
<td><a href="https://homes.cs.washington.edu/~sham/">Sham Kakade</a> <br />University of Washington<br /><i> Reinforcement Learning</i></td>
<td class="thumb"><img src="img/instructors/yintat.jpg"></td>
<td><a href="http://yintat.com/">Yin Tat Lee</a> <br />University of Washington<br /><i> Convex Geometry and Sampling</i></td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/courtney.jpg"></td>
<td><a href="https://cypaquette.github.io/">Courtney Paquette</a> <br />University of Waterloo<br /><i> Stochastic Optimization</i></td>
<td class="thumb"><img src="img/instructors/rob.jpg"></td>
<td><a href="https://nowak.ece.wisc.edu/">Rob Nowak</a><br />University of Wisconsin, Madison<br /><i> Statistical Learning Theory</i></td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/kevin.jpg"></td>
<td><a href="https://homes.cs.washington.edu/~jamieson">Kevin Jamieson</a> <br />University of Washington<br /><i> Online and Active Learning</i></td>
<td class="thumb"><img src="img/instructors/sewoong.jpg"></td>
<td><a href="https://homes.cs.washington.edu/~sewoong/">Sewoong Oh</a> <br />University of Washington<br /><i> Information Theory and Deep Learning</i></td>
</tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#schedule" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>
